%h1 StaticPages#home
%p Find me in app/views/static_pages/home.html.haml
%h2 Big time.  I'm using haml now!!
%ul
  %li time
  %li experience
  %li lifelong learning
%table{:cellpadding => '5px', :border => '1'}
  %caption New things I'll work with on this project
  %thead
    %th name
    %th function
    %th why?
  %tfoot
    %td{:colspan => 3} work work work work work work
  %tbody
    %tr
      %td haml
      %td makes html easy
      %td quicker/productivity
    %tr
      %td susy
      %td grid layout
      %td not sure yet
